.names-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $color-button-background;
}

.container-name {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.block-name {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
    /*width: 270px;*/
    background-color: $color-background;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px $color-shadow-4, 0px 1px 1px $color-shadow-5, 0px 2px 1px $color-shadow-8;
}

.name {
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-name {
    font-weight: 500;
    font-size: 16px;
    color: $color-header;
    line-height: 19px;
    text-align: center;
    margin-bottom: 10px;
}

.desc-name {
    line-height: 19px;
    text-align: center;
    margin-bottom: 16px;
}